h1{
    width: 100%;
}
.a{
    background-color: #FF6F00;
    height: 30px;
}
.b{
    background-color: #FF8F00;
    height: 30px;
}
.c{
    background-color: #FFA000;
    height: 30px;
}
.d{
    background-color: #FFB300;
    height: 30px;
}
.e{
    background-color: #FFCA28;
    height: 30px;
}
.f{
    background-color: #FFD54F;
    height: 30px;
}
.g{
    background-color: #FFE082;
    height: 30px;
}
.h{
    background-color: #FFECB3;
    height: 30px;
}
.i{
    background-color: rgb(38, 168, 38);
    height: 30px;
}
.j{
    background-color: #E3F2FD;
    height: 30px;
}
.k{
    background-color: #BBDEFB;
    height: 30px;
}
.l{
    background-color: #90CAF9;
    height: 30px;
}
.m{
    background-color: #42A5F5;
    height: 30px;
}
.n{
    background-color: #1E88E5;
    height: 30px;
}
.o{
    background-color: #1976D2;
    height: 30px;
}
.p{
    background-color: #1565C0;
    height: 30px;
}
.q{
    background-color: #0D47A1;
    height: 30px;
}
